/*
!/README.md
!/CONTRIBUTING.md
!/.gitignore
!/LICENSE
!/Setting
!/ET-Mariphilia
/ET-Mariphilia/*
!/ET-Mariphilia/minecraft
/ET-Mariphilia/minecraft/*
!/ET-Mariphilia/minecraft/scripts
!/ET-Mariphilia/minecraft/config
!/ET-Mariphilia/minecraft/resources
!/ET-Mariphilia/minecraft/mods
!/ET-Mariphilia/minecraft/animation
ET-Mariphilia/minecraft/config/splash.properties
ET-Mariphilia/minecraft/config/InvTweaks.cfg
ET-Mariphilia/minecraft/config/jei/worldSettings.cfg
ET-Mariphilia/minecraft/config/jei/bookmarks.ini
ET-Mariphilia/minecraft/config/AppliedEnergistics2/VersionChecker.cfg
ET-Mariphilia/minecraft/config/waila/waila.cfg
ET-Mariphilia/minecraft/scripts/.zsrc
ET-Mariphilia/minecraft/config/AppliedEnergistics2/items.csv
