# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
    你可以使用剑将鱼切成生鱼片
    Embers模组中的功能性方块几乎都需要漏斗来驱动
    Embers模组中的管道都需要红石信号才能使用
    记得节约用电！伙计
    Creeper也可以将废铁和铜罐头炸成粒
    不 要 吃 金 枪 鱼 ！
    你最好在尖刺陷阱下方放一个漏斗
    一发光束炮就可以把怪物轰成灰烬
    你的握力强大到可以把骨头握成骨粉
    灰烬能量喷发器发出的能量是灰烬能量发射器的10倍
    所有学科的尽头是哲学
    你在树苗旁边跳舞时，树苗会非常快乐
    复燃的灰烬可以用来生火，而将灰烬掷入火中又可使其复燃
    海里的垃圾无穷无尽
    一日三餐没烦恼，鲸鱼秘制小汉堡，好吃又管饱，实惠又环保，吃了都说好！
    记得拿你的铁匠锤敲一下新鱼竿
    按住“~”键可以连锁砍树
    如有发现BUG请及时上交至GitHub仓库
    虽然很多ET前作的模组在这一作都没有保留，但你还是可以在游戏机制中看到他们的影子！
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


